rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Colección de usuarios
    match /usuarios/{userId} {
      allow read: if request.auth != null; // Cualquiera logueado puede leer cualquier usuario
      allow write: if request.auth != null && request.auth.uid == userId;
    }

    // Colección de reseñas
    match /resenas/{resenaId} {
      allow read: if true; // Cualquiera puede leer reseñas
      allow create: if request.auth != null; // Solo usuarios logueados pueden crear
      allow update, delete: if request.auth != null && request.auth.uid == resource.data.uid;
    }
  }
}