/* Estilos comunes para contenedores */
.izq, .drch, .izq2, .drch2 {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.movil, .izq2, .drch2 {
    display: none;
}

/* Estilos específicos para la columna derecha */
.drch {
    background: linear-gradient(to bottom right, var(--color-complementario2), #FF693B);
    color: white;
}

/* Estilos del botón en la columna derecha */
.drch button {
    background: transparent;
    border: 2px solid white;
    border-radius: 100px;
    color: white;
    cursor: pointer;
}

/* Estilos de la imagen del logo */
.logo {
    width: 30%;
    margin-bottom: 5%;
}

/* Estilos para las opciones (iconos sociales) */
.opciones {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 25%;
    min-width: 210px;
}

.opciones img {
    width: 22%;
    border-radius: 50%;
    border: 2px solid var(--color-complementario1);
    padding: 3%;
    transition: transform 0.3s ease;
}

.opciones img:hover {
    cursor: pointer;
    transform: scale(1.1);
    background-color: var(--color-claro);
    border-color: var(--color-complementario2);
}

/* Estilos generales de los títulos */
h1 {
    font-size: 2.5em;
    font-weight: 1000;
    margin-bottom: 40px;
}

/* Estilos del separador (hr) */
hr {
    width: 85%;
    height: 2px;
    background: var(--color-complementario1);
    margin: 3% 0;
}

/* Estilos de los párrafos */
p {
    color: var(--color-complementario1);
    font-size: medium;
    text-align: center;
    margin: 3% 0 -2%;
}

.drch p {
    color: white;
}

/* Formulario */
form {
    width: 75%;
}

/* Estilos de los inputs (campos de texto) */
input {
    width: 100%;
    height: 10%;
    min-height: 41px;
    padding: 0 3%;
    margin: 2% 0;
    background-color: var(--color-claro);
    color: var(--color-complementario1);
    border-radius: 5px;
    border: none;
}

/* Estilo específico para el botón de submit */
input[type="submit"] {
    background: var(--color-complementario2);
    border: 2px solid white;
    border-radius: 100px;
    color: white;
    cursor: pointer;
    width: 30%;
    min-width: 200px;
    height: auto;
    font-weight: 500;
    font-size: large;
    padding: 2% 0 2% 0;
}

button.boton {
    cursor: pointer;
    background-color: transparent;
    color: white;
    width: 20%;
    min-width: 200px;
    height: auto;
    font-weight: 500;
    font-size: large;
    padding: 1.25% 0 1.25% 0;
    margin-top: 10%;
    border: 2px solid white;
    border-radius: 100px;
}

.izq2 {
    background: linear-gradient(to bottom left, var(--color-complementario2), #FF693B);
    color: white;
}

.izq2 p {
    color: white;
}

@media (max-width: 1000px) {

    body {
        background-color: var(--color-oscuro);
    }

    .izq, .drch, .izq2, .drch2 {
        display: none;
    }

    .movil {
        height: 812px;
        max-height: 100vh;
        width: 375px;
        max-width: 100vw;
        background: linear-gradient(to bottom left, var(--color-complementario2), #FF693B);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 5px 20px rgba(255, 255, 255, 0.322);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .formularioinicio {
        background-color: white;
        height: 75%;
        width: 100%;
        border-radius: 0 0 0 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #formularioMovil {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 85%;
        margin-top: 10%;
    }

    hr {
        width: 85%;
        height: 2px;
        background-color: var(--color-complementario1);
        border-color: var(--color-complementario1);
        margin: 5% 0;
    }

    .opciones {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 60%;
    }

    .opciones img {
        width: 22%;
        border-radius: 50%;
        border: 2px solid var(--color-complementario1);
        padding: 3%;
        margin: 2%;
        transition: transform 0.3s ease;
    }

    .opciones img:hover {
        cursor: pointer;
        transform: scale(1.1);
    }

    input {
        width: 100%;
        padding: 3% 5%;
        margin: 3% 0;
        border: 0;
        border-radius: 50px;
        background-color: var(--color-claro);
    }

    input[type="submit"] {
        background-color: var(--color-complementario2);
        color: white;
        font-weight: 600;
        cursor: pointer;
        transition: background 0.3s ease;
        width: 100%;
    }

    input[type="submit"]:hover {
        background-color: #e63538;
    }

    h1 {
        font-size: 1.6em;
        font-weight: 700;
        margin-bottom: 15px;
        color: var(--color-oscuro);
        text-align: center;
    }

    p {
        color: #a9a9a9;
        font-size: small;
        text-align: center;
        margin: 7% 0 -2%;
    }

    .logo {
        width: 55%;
        margin: 20% 0 5% 0;
    }

    .switch-wrapper {
        background: #e6e6e6;
        border-radius: 40px;
        border: 2px solid #ccc;
        width: 60%;
        height: 40px;
        display: flex;
        position: relative;
        overflow: hidden;
        cursor: pointer;
        font-size: small;
        margin: 4% 0 -3% 0;
    }

    .switch-toggle {
        position: absolute;
        width: 50%;
        height: 100%;
        background-color: #f44336;
        border-radius: 40px;
        transition: all 0.3s ease;
        z-index: 0;
    }

    .switch-options {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 1;
        position: relative;
    }

    .switch-options div {
        width: 50%;
        text-align: center;
        font-weight: bold;
        color: #999;
        transition: color 0.3s ease;
    }

    .switch-options .active {
        color: white;
    }
}