<section>
<nav>
    <div class="sombra" id="sombra"></div>
    <img class="hamburguesa" src="./assets/img/interface/menu-hamburguesa.png" id="hamburguesa" alt="Menú">

    <img class="logo" src="./assets/img/logotipos/LogoClaro.png">

    <div class="menu-hamburguesa" id="menuHamburguesa">
        <div class="top">
            <img class="logo" src="./assets/img/logotipos/LogoClaro.png" alt="Logo">
            <img class="exit" src="./assets/img/interface/cruz.png" id="exit" alt="Cerrar">
        </div>
        <hr>
        <div class="menumovil">
            <a href="#" id="inicioLink">Inicio</a>
            <a href="#" id="buscarLink">Buscar Libros</a>
        </div>
        <div class="perfil-movil">
            <hr>
            <div class="contenedor-perfil">
                <img src="./assets/img/avatars/Avatar4.png" class="avatar">
                <h3>USER-00</h3>
            </div>
            <a href="#"><img src="./assets/img/interface/usuario.png" alt="Mi Perfil">Mi Perfil</a>
            <a href="#"><img src="./assets/img/interface/salida.png" alt="Cerrar sesión">Cerrar Sesión</a>
        </div>
    </div>

    <div class="menu">
        <a href="#" id="inicioLink">Inicio</a>
        <a href="#" id="buscarLink">Buscar Libros</a>
    </div>

    <div class="perfil">
        <img src="./assets/img/avatars/Avatar4.png" class="avatar">
        <img src="./assets/img/interface/flecha-perfil.png" class="flecha-perfil">
        <div class="perfil-menu">
            <a href="#"><img src="./assets/img/interface/usuario.png">Mi Perfil</a>
            <a href="#"><img src="./assets/img/interface/salida.png">Cerrar Sesión</a>
        </div>
    </div>
</nav>

<main id="mainContent" data-vista="inicio"></main>
</section>