<section>
  <nav>
    <div class="sombra" id="sombra"></div>
    <img class="hamburguesa" src="./assets/img/interface/menu-hamburguesa.png" id="hamburguesa" alt="Menú">
    <img class="logo" src="./assets/img/logotipos/LogoClaro.png">

    <div class="menu-hamburguesa" id="menuHamburguesa">
      <div class="top">
        <img class="logo" src="./assets/img/logotipos/LogoClaro.png" alt="Logo">
        <img class="exit" src="./assets/img/interface/cruz.png" id="exitMenu" alt="Cerrar">
      </div>
      <hr>
      <div class="perfil-movil">
        <div class="contenedor-perfil">
          <img src="./assets/img/avatars/Avatar4.png" class="avatar">
          <h5 id="nombreUsuario">USER-00</h5>
        </div>
        <hr>
      </div>
      <div class="menumovil">
        <a href="#home" id="inicioLinkMovil">Inicio</a>
        <a href="#search" id="buscarLinkMovil">Buscar Libros</a>
      </div>
      <hr>
      <a id="exitmovil" class="exitmovil"><img src="./assets/img/interface/salida.png"> Cerrar Sesión</a>
    </div>

    <div class="menu">
      <a href="#home" id="inicioLink">Inicio</a>
      <a href="#search" id="buscarLink">Buscar Libros</a>
    </div>

    <div class="perfil">
      <img src="./assets/img/avatars/Avatar4.png" class="avatar">
      <img src="./assets/img/interface/flecha-perfil.png" class="flecha-perfil">
      <div class="perfil-menu">
        <a href="#profile"><img src="./assets/img/interface/usuario.png">Mi Perfil</a>
        <a id="exitescritorio"><img src="./assets/img/interface/salida.png">Cerrar Sesión</a>
      </div>
    </div>
  </nav>

  <main id="mainContent" data-vista="search">
    <h3>Buscar Libros</h3>

    <div class="busqueda-avanzada">
      <div class="barra-busqueda">
        <select id="filtroBusqueda">
          <option value="q">Todo</option>
          <option value="title">Título</option>
          <option value="author">Autor</option>
          <option value="subject">Temática</option>
        </select>
        <input type="text" id="campoBusqueda" placeholder="Introduzca su búsqueda...">
        <button id="botonBuscar">
          <img src="./assets/img/interface/lupa.png" alt="Buscar">
        </button>
      </div>
    </div>

    <div id="spinnerBusqueda" class="spinner-busqueda oculto">
      <div class="spinner"></div>
      <p>Cargando libros...</p>
    </div>

    <div id="resultadosLibros" class="resultados"></div>
  </main>
</section>
